.menu-card {
  border: 1px solid #ccc;
  background-color:#f7f2ec; 
  border-radius: 10px;
  width: 260px;
  margin: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease;
}

.menu-card:hover {
  transform: scale(1.03);
}

.menu-card-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
}

.menu-card-title {
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: bold;
}

.menu-card-desc {
  color: #6a5d53;
  text-align: center;
  margin-bottom: 10px;
}

.menu-card-price {
  font-size: 18px;
  font-weight: bold;
  color: #4a3f35;
}
